<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Engineer in Software and Computing System</h1>
            <span>ENSSAT: Ecole Supérieure des Sciences Appliquées et de Technologie</span>
            <span><address>Lannion, FR</address><time>2006 to 2009</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>DUT in Computer Science</h1>
            <span>INSAT: Institut National Des Sciences Appliquées et Technologie</span>
            <span><address>Tunis, TN</address><time>2002 to 2006</time></span>
        </header>
    </article>
</section>
