<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Engineer at <a href="www.valtech.com">Valtech</a></h1>
            <span><address>Paris, FR</address><time>2010 to Present</time></span>
        </header>
        <p>valtech is a new breed of digital agency uniquely designed to help business leaders succeed in a new digital economy.
            I do consultancy work for different client, helping them developing their software solution.
            I am also a trainer at Valtech Training. </p>
    </article>
    <article>
        <header>
            <h1>Java Developer at <a href="www.egencia.com">Egencia</a></h1>
            <h2> Rebuild of the web site for flight's booking</h2>
            <span><address>Paris, FR</address><time>2014 to 2016</time></span>
        </header>
        <p> Implementation of different REST services that are consumed by mobile application and also the legacy website to succeed a progressive migration.
            Performance analysis of the different services and continuous optimization of the technical stack.
            Participation to the realisation of continuous deployment and coding best practices.
            Animation of coding workshop and helping to create coding convention.
            Optimization of MongoDB queries and adding Jasmine tests.
            Maintenance of legacy code.
            <b>Software factory:</b> maven, perforce, git, jenkins, sonar.
            <b>Technologies:</b> Java, Spring, Apache Camel, MongoDB, Tomcat7, REST, Soap, JUnit, AssertJ, Mockito, Jasmine, Cucumber, JMeter, Splunk, Guvnor.
        </p>
    </article>
    <article>
        <header>
            <h1>Java and Web Developer at <a href="www.societegenerale.com">Societe generale</a></h1>
            <h2> Realisation of multiple web modules accessible through a portal: ISIS</h2>
            <span><address>Paris, FR</address><time>2013 to 2014</time></span>
        </header>
        <p>
            Participation to the establishment of agile practices in the team.
            Implementation of different functions in java for the backend and jquery for the front side.
            Realisation of auto generation of documents in CSV, Excel or PDF.
            Graphical overview for some modules.
            <b>Software factory:</b> maven, git, jenckins et sonar.
            <b>Technologies:</b>Java, Spring, Hibernate, MySQL, Jquery, Tomcat7, JfreeChart, OpenCsv, Mockito, FestAssert.
        </p>
    </article>
    <article>
        <header>
            <h1>Web Developer at <a href="fr.alvarum.com">Alvarum</a></h1>
            <span><address>Paris, FR</address><time>2013</time></span>
        </header>
        <p>
            Creation of a community web plateform
            Establishment of agile practice in the team.
            Upgrading different services in Java with new methods to collect community data and exposed in REST.
            Implementation of community module interface with AngularJs and Twitter Bootstrap.
            <b>Technologies:</b>Java,  AngularJs, Git ( Bitbucket), Twitter Bootstarp, Mockito, FestAssert.
        </p>
    </article>
    <article>
        <header>
            <h1>Java Developer at Plastic Omnium</h1>
            <h2>EBAMA : Business Account Management Application</h2>
            <span><address>Paris, FR</address><time>2012</time></span>
        </header>
        <p>
            Realisation of a new web platform for creation, update and tracking of active bank accounts of the company,
            Implementation of differents database script, model, services, controllers and views,
            Realisation of the technical documentation,
            Establishment of agile practice.
            <b>Technologies:</b> Java, Hibernate, MySql, Spring Web Flow, PrimeFaces , Maven, Eclipse, Svn, Mockito, JUnit.
        </p>
    </article>
    <article>
        <header>
            <h1>Java Developer at Pages Jaunes</h1>
            <h2>Seety : A website builder</h2>
            <span><address>Paris, FR</address><time>2012</time></span>
        </header>
        <p>
            Establishment of data bases (Cassandra and PostgreSql) and implementation of different business layers (model and services) and web interfaces (JS, NodeJS, HTML5, CSS3…),
            Realisation of a Data Asset Management to manage a media collection (images et videos) and realise a search based on critera using ElasticSearch,
            Réalisation of an E-commerce module with the integration of Paypal and Ebay,
            Developpmemnt done in ATDD with TDD and integration tests.
            Project managed in XP with my participation to slipt tasks, evaluate the charges and daily monitoring.
            <b>Technologies:</b> Java/JEE (JDK7), Lime MVC, Guice, JSON (Gson), JavaScript, NodeJs, JQuery, CoffeeScript, HTML5, Backbone, Freemarker, Cassandra, Hector, PostgreSql, EclipseLink,  ElasticSearch, Junit, Mockito, Jasmin, Maven3, Jetty, Karaf, Git, Eclipse, Jenkins, Sonar, Mantis.
        </p>
    </article>
    <article>
        <header>
            <h1>Java Developer at RATP</h1>
            <span><address>Paris, FR</address><time>2012</time></span>
        </header>
        <p>
            Uprage of web plateform for human resources management "SRH",
            Adding new functions and updating databases (adding columns, updating data...),
            Impelementation done in TDD and added integration tests.
            <b>Technologies:</b> Java/JEE, JavaScript, Mysql, Hibernate, Junit, Mockito, Maven, Tomcat, Eclipse.
        </p>
    </article>
    <article>
        <header>
            <h1>Java Developer at La Banque de France/h1>
            <h2>Web plateform of the management of financial transaction; "Optidoc"</h2>
            <span><address>Paris, FR</address><time>2011</time></span>
        </header>
        <p>
            Adding a new MySql database, new business layes (model and services); web interfaces (SWF and JSF) using an existing archetype.
            Impelementation in TDD with a hight code coverage.
            Management of different developpement environments: development, test and production.
            Upgrade of the web plateform for the management of internals orders "EDAI": add and update of interfaces.
            <b>Technologies:</b>Java/JEE JSF, Spring Web Flow, Mysql, Hibernate, JPA2, Junit, Mockito, Guava, Maven, Tomcat 7.0, Jenkins, Sonar, Eclipse.
        </p>
    </article>
</section>
