<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1><a href="duchess-france.org">Duchess</a> France leader</h1>
            <span><address>Paris, FR</address><time>2011 to now </time></span>
        </header>
        <p>
            Duchess France is an association aiming to promote women in Tech, giving them more visibility and helping creating new vocation.

        </p>
    </article>
    <article>
        <header>
            <h1>Deputy Treasurer at Enssat</h1>
            <span><address>Lannion, FR</address><time>2007</time></span>
        </header>
        <p>
            Managing the finance of the local assocation of the engineering school .
        </p>
    </article>
</section>