<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1><a href="duchess-france.org">Duchess France</a> leader</h1>
            <span><address>Paris, FR</address><time>2011 to now </time></span>
        </header>
        <p>
            Duchess France is French non profit association member of the global organization JDuchess.
            Duchess France has currently more than 1000 members. Duchess France provides a platform through which technical women working on IT can connect with each other and get involved in the greater communities.
            It aims to create Role Models to shift the balance and decrease the gender gap on IT. Duchess France contributes to make women visible and to teach the benefits of diversity in any team environment - whether corporate or open-source.
        </p>
    </article>
    <article>
        <header>
            <h1>Deputy Treasurer at Enssat</h1>
            <span><address>Lannion, FR</address><time>2007</time></span>
        </header>
        <p>
            Managing the finance of the local assocation of the engineering school .
        </p>
    </article>
</section>