<section class="thirteen columns">
    <h1>Applications/Publications</h1>
    <article>
        <header>
            <h1>Speaker</h1>
        </header>
        <p>
            Attended international conferences Devoxx Belgium, Devoxx Morocco, Devoxx France, JFokus, Scalar, GeeCon, J_OnTheBeach and some JUG in France and Switzerland:
            <a href="http://www.breizhjug.org/#/events?q=Amira%20LAKHAL">Cassandra au Breizh JUG</a>
            <a href="http://www.nwx.fr/evenements/normandy-jug-soiree-speciale-nosql-cassandra">Cassandra au Normandy JUG</a>
            <a href="http://gitparis.com/2014/12/04/toute-la-verite-sur-le-big-data-en-3h/">all about Big Data Girlz In Tech</a>
            <a href="http://www.lyonjug.org/evenements/iot-timeseries-et-prediction-avec-android-cassandra-et-spark">IOT au Lyon JUG</a>
            <a href="http://apsideblog.fr/?p=16549">IOT au tour JUG</a>
            <a href="https://www.youtube.com/watch?v=1DV9Kdec0-A&index=176&list=PLRsbF2sD7JVrnrqNopuT9GnkOSbFKtRvb">Devoxx Belgium</a>
            <a href="https://www.youtube.com/watch?v=6KR1dIMX7wo">Devoxx Morocco</a>
            <a href="https://www.jfokus.se/jfokus/talks.jsp#IOT%2CTimeseriesandpre">JFokus</a>
            <a href="http://www.meetup.com/fr-FR/Duchess-France-Meetup/events/228085232/">Scalability night</a>
            <a href="http://fierdetredeveloppeur.org/2014/11/fdd-night-le-code-a-lecole-et-la-presentation-de-duchess-france/">Fier d'Etre Dev</a>
            <a href="http://gitparis.com/2014/04/25/le-meilleur-dev-de-france-est-il-une-femme/">Meilleur Dev de France</a>
            <a href="https://www.devoxx.fr/2015/talk/OTK-5482/Duchess_France_-_Lightnings_talks.html">Devoxx France</a>
            <a href="https://podcloud.fr/podcast/les-cast-codeurs/episode/lcc-120-jte-dis-ou-jte-dis-pas">Cast Codeurs</a>
        </p>
    </article>
    <article>
        <header>
            <h1>Activity Recognition Application</h1>
        </header>
        <p>
            The goal of the application is to recognize physical activity with measurement coming from an accelerometer sensor.
            First, the measurements are collected from the accelerometer, then data are stored in Cassandra as a timeseries model.
            Data are analysed with Spark using Spark Streaming and Spark MlLib;

            <b>Technologies:</b>Java/ Scala, Spark, Spark Streaming, Spark ML Lib, Android SDK, Spring Boot,Cassandra

            Sources are available in my <a href="https://github.com/MiraLak">github account</a>
        </p>
    </article>
    <article>
        <header>
            <h1>One Calendar Application</h1>
        </header>
        <p>
            One Calendar is a search engine for community tech events.
            The application's goal is to aggregate different calendar streams and add tags and then store them so we can filter, extract them ...
            <a href="http://onecalendar.valtech.fr">http://onecalendar.valtech.fr</a>

            <b>Technologies:</b>Scala, Play, MongoDB, HTML5, CSS3, CoffeeScript

            Sources are available in my <a href="https://github.com/MiraLak">github account</a>
        </p>
    </article>
</section>